<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Columns</key>
	<array>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>7</integer>
		<integer>4</integer>
	</array>
	<key>Directions</key>
	<array>
		<string>horizontal</string>
		<string>vertical</string>
		<string>horizontal</string>
		<string>vertical</string>
		<string>horizontal</string>
	</array>
	<key>Hints</key>
	<array>
		<string>Quarterback changes the football play at the line of scrimmag</string>
		<string>A backward pass</string>
		<string>Players who start each play at the line of scrimmage</string>
		<string>Defensive team rushes more football players than usual</string>
		<string>A kick to the other team to give them the ball downfield</string>
	</array>
	<key>Lines</key>
	<array>
		<string>-L----B---</string>
		<string>-AUDIBLE--</string>
		<string>-T----I---</string>
		<string>-E-PUNT---</string>
		<string>-R----Z---</string>
		<string>-A--------</string>
		<string>-LINEMEN--</string>
		<string>----------</string>
		<string>----------</string>
		<string>----------</string>
	</array>
	<key>Numbers</key>
	<array>
		<integer>3</integer>
		<integer>1</integer>
		<integer>5</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>Rows</key>
	<array>
		<integer>2</integer>
		<integer>1</integer>
		<integer>7</integer>
		<integer>1</integer>
		<integer>4</integer>
	</array>
	<key>Words</key>
	<array>
		<string>AUDIBLE</string>
		<string>LATERAL</string>
		<string>LINEMEN</string>
		<string>BLITZ</string>
		<string>PUNT</string>
	</array>
</dict>
</plist>
