<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Columns</key>
	<array>
		<integer>2</integer>
		<integer>2</integer>
		<integer>6</integer>
		<integer>4</integer>
		<integer>2</integer>
	</array>
	<key>Directions</key>
	<array>
		<string>vertical</string>
		<string>horizontal</string>
		<string>vertical</string>
		<string>horizontal</string>
		<string>horizontal</string>
	</array>
	<key>Hints</key>
	<array>
		<string>Wideout traded from the Chicago Bears</string>
		<string>Superbowl 52 Champions</string>
		<string>NHL</string>
		<string>Superbowl MVP</string>
		<string>Cameroonian professional basketball</string>
	</array>
	<key>Lines</key>
	<array>
		<string>----------</string>
		<string>-JOEL-----</string>
		<string>-E---F----</string>
		<string>-F-FOLES--</string>
		<string>-F---Y----</string>
		<string>-EAGLES---</string>
		<string>-R---R----</string>
		<string>-Y---S----</string>
		<string>----------</string>
		<string>----------</string>
	</array>
	<key>Numbers</key>
	<array>
		<integer>1</integer>
		<integer>4</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>1</integer>
	</array>
	<key>Rows</key>
	<array>
		<integer>2</integer>
		<integer>6</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>2</integer>
	</array>
	<key>Words</key>
	<array>
		<string>JEFFERY</string>
		<string>EAGLES</string>
		<string>FLYERS</string>
		<string>FOLES</string>
		<string>JOEL</string>
	</array>
</dict>
</plist>
