<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Columns</key>
	<array>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>8</integer>
	</array>
	<key>Directions</key>
	<array>
		<string>horizontal</string>
		<string>vertical</string>
		<string>horizontal</string>
		<string>horizontal</string>
		<string>horizontal</string>
		<string>vertical</string>
	</array>
	<key>Hints</key>
	<array>
		<string>Preventing the opposition from scoring</string>
		<string>Attacker taking the ball past an opponent</string>
		<string>Starting a game or restarting it after each goal</string>
		<string>Positioning defenders away from the ball to protect the vital space behind the defense</string>
		<string>Striking of a ball in the air by a player&apos;s head</string>
		<string>To get the ball through or around an opponent</string>
	</array>
	<key>Lines</key>
	<array>
		<string>----------</string>
		<string>-DEFENSE--</string>
		<string>-R--------</string>
		<string>KICKOFF---</string>
		<string>-B-----B--</string>
		<string>-BALANCE--</string>
		<string>-L-----A--</string>
		<string>HEADER-T--</string>
		<string>----------</string>
		<string>----------</string>
	</array>
	<key>Numbers</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>3</integer>
	</array>
	<key>Rows</key>
	<array>
		<integer>2</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>6</integer>
		<integer>8</integer>
		<integer>5</integer>
	</array>
	<key>Words</key>
	<array>
		<string>DEFENSE</string>
		<string>DRIBBLE</string>
		<string>KICKOFF</string>
		<string>BALANCE</string>
		<string>HEADER</string>
		<string>BEAT</string>
	</array>
</dict>
</plist>
